<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
      <add key="MaxWorkers" value="3" />
   </appSettings>
   
   <system.runtime.remoting>
      <application name="WorkManager">
         <service>
            <wellknown 
               mode="Singleton" 
               type="TaskServer.ServerProcess, TaskServer" 
               objectUri="TaskServer"
            />
         </service>
         <channels>
            <channel port="8000" ref="tcp">
               <!-- If you are using .NET 1.1, uncomment the lines below. -->
               <!--  
               <serverProviders> 
                   <formatter ref="binary" typeFilterLevel="Full" />
               </serverProviders>
               -->
            </channel>
         </channels>
      </application>
   </system.runtime.remoting>
</configuration>