<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <system.runtime.remoting>
      <application name="TalkNET">
         <service>
            <wellknown 
               mode="Singleton" 
               type="TalkServer.ServerProcess, TalkServer" 
               objectUri="TalkServer"
            />
         </service>
         <channels>
            <channel 
               port="8000"
               ref="tcp"
            />
         </channels>
      </application>
   </system.runtime.remoting>
</configuration>