<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <system.runtime.remoting>
      <application>
         <channels>
            <!-- The "0" port is declared to allow remoting to choose -->
            <!-- the most appropriate channel. -->
            <channel port="0" ref="tcp">
               <!-- If you are using .NET 1.1, uncomment the lines below. -->
               <!--  
               <serverProviders> 
                   <formatter ref="binary" typeFilterLevel="Full" />
               </serverProviders>
               -->
            </channel>
         </channels>
      </application>
   </system.runtime.remoting>
</configuration>